[Unit]
Description=gunicorn daemon
After=network.target


[Service]
user=root
Group=www-data
WorkingDirectory=/projects/e-learning
ExecStart=/projects/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/tmp/educa.sock educa.wsgi:application

[Install]
WantedBy=multi-user.target

